<%- include('header', {title: 'Workout'}); -%> <%-include('searchbar');-%>-%>

<body>
  <div
    class="container-sm d-flex flex-column justify-content-center invidual-workout-container"
  >
    <div class="after-top-nav d-flex align-items-center">
      <div class="d-flex justify-content-start">
        <a href="/"
          ><span class="arrow-back material-icons mx-1 mt-2"
            >arrow_back_ios</span
          ></a
        >
      </div>
    </div>
    <div>
      <h1 id="workoutname" class="d-flex align-items-center all-icons my-2">
        <%=workouts[0].workout_name%>
        <form
          action="/workout/favorite/<%=workouts[0].workout_id%>"
          method="post"
        >
          <button type="submit" id="add-to-favorite">
            <div
              class="material-icons star-icon d-flex flex-column align-items-center"
            >
              star
            </div>
          </button>
        </form>
        <div class="edit-control">
          <a
            href="/workout/<%=workouts[0].workout_id%>/edit"
            class="d-flex flex-column align-items-center"
          >
            <div class="material-icons edit-workout-icon">edit</div></a
          >
        </div>
        <form
          action="/workout/<%=workouts[0].workout_id%>?_method=DELETE"
          method="POST"
        >
          <button
            type="submit"
            id="delete-workout"
            class="d-flex flex-column align-items-center"
          >
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </form>
      </h1>
      <!-- description of workout -->
      <div class="textdescription-wrapper mb-2">
        <div class="workout-description">
          <div>Description of workout:</div>
          <%=workouts[0].workout_description%>
        </div>
      </div>
      <div
        class="edit-workout-controls d-flex p-2 justify-content-around align-items-center"
      >
        <form action="/workout/<%=workouts[0].workout_id%>" method="POST">
          <div class="d-flex choose-template align-items-center">
            Choose a template:
            <div class="add-to-template-control">
              <select
                class="form-select"
                aria-label="Default select example"
                name="template_id"
              >
                <option selected>-- Add to a template --</option>
                <%templates.forEach(template=>{%>
                <option value="<%=template.id%>">
                  <%=template.template_name%>
                </option>
                <%})%>
              </select>
            </div>
            <button type="submit" class="add-to-template-btn d-flex">
              <div class="material-icons">add_circle</div>
            </button>
          </div>
        </form>
      </div>
      <div class="video d-flex justify-content-center mb-2">
        <iframe
          width="420"
          height="315"
          src="<%=workouts[0].url_link%>"
          frameborder="0"
          allowfullscreen
        >
        </iframe>
      </div>
      <div class="workout-information d-flex justify-content-evenly">
        <div class="row p-2">
          <div
            class="col-4 sets d-flex justify-content-start align-items-start"
          >
            SETS : <%= workouts[0].sets%>
          </div>
          <div
            class="col-4 sets d-flex justify-content-start align-items-start"
          >
            REPETITION : <%= workouts[0].repetition%>
          </div>
          <div
            class="col-4 sets d-flex justify-content-start align-items-start"
          >
            EQUIPMENT : <%workouts.forEach(workout=>{%> <%=
            workout.equipment_required%> <%})%>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  var x, i, j, l, ll, selElmnt, a, b, c;
  /* Look for any elements with the class "custom-select": */
  x = document.getElementsByClassName("add-to-template-control");
  l = x.length;
  for (i = 0; i < l; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    ll = selElmnt.length;
    /* For each element, create a new DIV that will act as the selected item: */
    a = document.createElement("DIV");
    a.setAttribute("class", "select-selected");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /* For each element, create a new DIV that will contain the option list: */
    b = document.createElement("DIV");
    b.setAttribute("class", "select-items select-hide");
    for (j = 1; j < ll; j++) {
      /* For each option in the original select element,
    create a new DIV that will act as an option item: */
      c = document.createElement("DIV");
      c.innerHTML = selElmnt.options[j].innerHTML;
      c.addEventListener("click", function (e) {
        /* When an item is clicked, update the original select box,
        and the selected item: */
        var y, i, k, s, h, sl, yl;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        sl = s.length;
        h = this.parentNode.previousSibling;
        for (i = 0; i < sl; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("same-as-selected");
            yl = y.length;
            for (k = 0; k < yl; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "same-as-selected");
            break;
          }
        }
        h.click();
      });
      b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function (e) {
      /* When the select box is clicked, close any other select boxes,
    and open/close the current select box: */
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("select-hide");
      this.classList.toggle("select-arrow-active");
    });
  }

  function closeAllSelect(elmnt) {
    /* A function that will close all select boxes in the document,
  except the current select box: */
    var x,
      y,
      i,
      xl,
      yl,
      arrNo = [];
    x = document.getElementsByClassName("select-items");
    y = document.getElementsByClassName("select-selected");
    xl = x.length;
    yl = y.length;
    for (i = 0; i < yl; i++) {
      if (elmnt == y[i]) {
        arrNo.push(i);
      } else {
        y[i].classList.remove("select-arrow-active");
      }
    }
    for (i = 0; i < xl; i++) {
      if (arrNo.indexOf(i)) {
        x[i].classList.add("select-hide");
      }
    }
  }

  /* If the user clicks anywhere outside the select box,
then close all select boxes: */
  document.addEventListener("click", closeAllSelect);
</script>

<%- include('footer'); -%>
